<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>MimeTree</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ static_url("drag_drop.js") }}"></script>
    
  <link href='http://fonts.googleapis.com/css?family=Lato:100,regular,bold' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css"/>

</head>
<body>


<!--  BEGIN CONTAINER DIV  -->
<div id="container">


<!--  BEGIN CONTENT DIV  -->
<div id="content">

<fieldset id="Demo0">
<div class="left" id="leftCol">
	<img src="../static/images/Biohazard-Vector.png">
	<div class="DragContainer" id="DragContainer1" overclass="OverDragContainer">
	 <p>Loading Your Data <img src="../static/images/ajax-loader.gif"><br>
	<small>This may take up to 30 seconds the first time.</small></p>
	</div>
	<div class="clear"></div>
	<a class="left" id="arrowleft" href="#" onClick="loadImage('left');"><img width="25" height="25" src="../static/images/arrowleft.png"></a>
	<a class="right" id="arrowright" href="#" onClick="loadImage('right');" style="margin-right:15px"><img class="right" width="25" height="25" src="../static/images/arrowright.png"></a>
	<div class="clear"></div>
</div>
<div class="right" id="rightCol">
	
	
	
	<div id="centerCont">
		<div id="Name1" class="name left"><br></div>
		<div id="Name2" class="name right"><br></div>
		<div class="clear"></div>
		<div class="DropContainer left" id="DragContainer2" overclass="OverDragContainer" style=""></div>
		<div class="InfoContainer left" id="Info1">
			<br>
		</div>
		<div class="InfoContainer right" id="Info2">
			<br>
		</div>
		<div class="DropContainer right" id="DragContainer3" overclass="OverDragContainer" style=""></div>
		<div class="clear"></div>
		
		<div style="height:8px"></div>
		<div id="matchButton"> 
		<a id="bleedButton" href="#" onClick="fornicate();"><img src="../static/images/breed.png"></a>
		</div>
		<div class="clear"></div>
		<div style="height:8px"></div>
		
		<div class="clear"></div>
		<div id="BreedResults">
			<div id="BabyName">Last Baby Standing</div>
			<div id="BabyContainer"><img style="background:#fff" src="../static/images/imgtest.png"></div>
			<div class="BabyData">
				<br>
				<div id="BabyDesc">
					<p style="padding-left:3px">The fate of the world is in your hands, and your friends' loins!</p>
				</div>
				<div class="clear"></div>
				<br>
				<div id="BabyStats" style="padding-bottom:0px">
					<br>
				</div>
			</div>
			<div class="clear"></div>
			<br>
			<a href="babies.html" style="color:#0F0">View All Of Your Babies!</a>
		</div>
	</div>
	
	
	
	<div class="clear"></div>
</div>

</fieldset>
<!--
<fieldset id="Demo7">
<div>
<ol id="DragContainer7">
  <li id="ListItem1">Item #1
  <li id="ListItem2">Item #2
  <li id="ListItem3">Item #3
  <li id="ListItem4">Item #4
  <li id="ListItem5">Item #5 </li></ol>
</div>
</fieldset>

<fieldset id="Demo8">
<h3>Demo - Drag and Drop any item</h3>
<div id="DragContainer8" history="History1">
<div class="miniDragBox" id="MiniBox1">1</div>
<div class="miniDragBox" id="MiniBox2">2</div>
<div class="miniDragBox" id="MiniBox3">3</div>
<div class="miniDragBox" id="MiniBox4">4</div>
<div class="miniDragBox" id="MiniBox5">5</div>
<div class="miniDragBox" id="MiniBox6">6</div>
<div class="miniDragBox" id="MiniBox7">7</div>
<div class="miniDragBox" id="MiniBox8">8</div>
<div class="miniDragBox" id="MiniBox9">9</div>
<div class="miniDragBox" id="MiniBox10">10</div>
<div class="miniDragBox" id="MiniBox11">11</div>
<div class="miniDragBox" id="MiniBox12">12</div>
<div class="miniDragBox" id="MiniBox13">13</div>
<div class="miniDragBox" id="MiniBox14">14</div>
<div class="miniDragBox" id="MiniBox15">15</div>
<div class="miniDragBox" id="MiniBox16">16</div>
</div>
</fieldset>
-->
</div>
<br>
<br>
<br>
<div style="width:1000px; margin:0 auto;">
	<p style="font-size:10px"><a href="http://globalgamejam.org/2011/last-baby-standing">Global Game Jam Site</a></p>
</div>
<!--  END CONTENT DIV  -->

</div>
<!--  END CONTAINER DIV  -->


</body>

</html>
